#wish {
    font-family: 'Sofia';
    position: absolute;
    left: 30%;
    color: #fff;
    animation: anim 5s infinite;
}

@keyframes anim {
    0% {
        color: #F00;
    }
    25% {
        color: #006600;
        transform: scale(2);
    }
    50% {
        color: #FF0080;
        transform: scale(1.2);
    }
    75% {
        color: #8000FF;
        transform: scale(2);
    }
    100% {
        color: #F00;
        transform: scale(1);
    }
}